{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap/css/bootstrap.min.css' %}">
    <title>My agenda</title>
</head>
<body class="container py-5">
    
    <div class="p-5 border boder-1 shadow">
        <h1 class="fw-bold text-primary">Welcome to Agenda-up</h1>
        <h2>With this application you can manage your virtual agenda!</h2>

        <p>
            Consult, create, update and delete your contacts easily and safely.
        </p>
    </div>


    {% block content %}
    {% endblock %}







    <script src="{% static 'bootstrap/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>